streamlit
# Utilitites 
numpy
pandas

# FACE RECOGNITION
scikit-learn
insightface
onnxruntime
setuptools<70.0.0


supabase
bcrypt



segno
pillow

# WEBRTC & STREAMING
streamlit-webrtc
av
opencv-python-headless

# FASTAPI LANDING PAGE & API
fastapi
uvicorn
jinja2
